.languages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .language-container_box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
    }
    img:hover {
      width: 100px;
      height: 100px;
      transition: 0.3s ease;
    }
  }
}
.container-outlet {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  margin-left: 0;
  position: absolute;
  right: 0;
}
